body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;

}


a:hover  {
	color: #A00;

}

h1, h1 > a {
	color: #D00;
}

h1 > a:hover {
	color: purple;
}

h2, h2 > a {
	color: #444;
}

h4, h4 > a {
	color: #A00;
}

nav > a{
	color: #EEE;
}

h3 {
	color: #DDD;
}

.firstcharacter { float: left; color: #EEE; font-size: 75px;
}